#intro #nav {
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 10px;
	width: 100%;
	background: #6D1E1E url('../images/stripes-red.png');
}

#intro #nav .contents {
	width: 800px;
	margin: 0 auto;
	position: relative;
}

#intro #nav ul {
	position: relative;
	left: 0;
	top: 0;
	width: 800px;
	height: 800px;
}

#intro #nav ul li {
	position: absolute;
	left: -1000px;
	top: -1000px;
}

#intro #nav ul li a {
	display: block;
	width: 120px;
	height: 60px;
	line-height: 60px;
	font-size: 150%;
	font-style: Helvetica;
	color: #CCCCCC;
	text-align: center;
}

#intro #nav .contents svg {
	position: absolute;
	left: 0;
	top: 0;
}

/* colors! */
#intro .spoke {
	fill: transparent;
}
#intro .spoke.hover {
	cursor: pointer;
}
#intro svg .spoke.intro.hover {
	fill: red;
}
#intro svg .spoke.contact.hover {
	fill: blue;
}

/* testing */
.home {
}

/* paging */