#intro #nav {
	width: 600px;
	margin: 0 auto;
}

#intro #nav ul {
	position: relative;
}

#intro #nav ul li {
	position: absolute;
	left: -1000px;
	top: -1000px;
}

#intro #nav ul li a {
	display: block;
	width: 80px;
	height: 20px;
	font-size: 150%;
	font-style: Helvetica;
	color: #CCCCCC;
	text-align: center;
}